html {
    background: #1F2937;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }
  
  body {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 0.5em;
  }
  
  form {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 60px;
      padding: 0.5em;
      margin-left:1em;
      margin-bottom: 1em;
  }
  
  .color-picker{
    width: 65px;
    height: 45px;
    border: 0.5px solid #313131;
    border-radius: 6px;
  }
  
  .scheme-select {
      margin-left: 1.8em;
      margin-right: 1.8em;
      width: 315px;
      height: 45px;
      border: 1px solid #D1D5DB;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      background-color: #1F2937;
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 0.9rem
  }
  
  button {
    width: 21%;
    padding: 0.5em;
    background: #3D4B60;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    border: none;
    border-bottom: 4px solid black;
    outline: none;
  }
  
  button:hover{
    margin-top: 2px;
    border-bottom-width: 1px;
    cursor: pointer;
  }
  button:active{
    margin-top: 5px;
    border-bottom-width: 1px;
  }
  
  .color-container{
      display: flex;
  }
  
  .color-strip {
      width: 110px;
      height: 550px;
      border: none;
  }
  
  .hex-number{
      text-align: center;
      padding: 1em;
  }